  
  tr:nth-child(odd) {

    background-color: #C9E4F6;

  }

  tr:nth-child(even) {

    background-color: #B4DAF2;
  }
#im {
  width:300px;
}
#logo {
    float:left; margin:10px; width:100px; height:100px;
}

header{
    background-color:#E6E6FA; padding: 10px; height:120px; flex-direction: row;
}
h1 {
  text-align: center;
  margin-top: 40px;
}
footer{
 margin-top: 20px;  padding: 10px;  height: 25px; background:  #E6E6FA; 
}
div {
  max-width:960px; margin: 0 auto ; margin-top:20px; padding:10px;  
}
.content{ 
   order: 2;
   background-color: #FFF5EE;
}
.form {
  background-color: #FFF5EE; }
nav {
  display: flex;
    flex-direction: column;
    text-align: left;
  background-color: #FFF5EE; padding:10px;  margin: 10px; text-align: right;
}
table {
  text-align: center;
  order: 1;
}
.table {
 background-color: #E6E6FA ;
}
body {  background-color: #FFE4E1 ; }
@media screen and (min-width: 480px) {
  nav {
    flex-direction: row;
  }
  nav a {
  margin: 2px;
  
  }
}
