  
  tr:nth-child(odd) {

    background-color: #C9E4F6;

  }

  tr:nth-child(even) {

    background-color: #B4DAF2;
  }
#im {
  width:300px;
}

#logo {
    height:100px;
    float: left;
}

header{
    background-color:#E6E6FA; height:120px; display: flex;
    flex-direction: column;}

.contain { 
  display: flex;
  flex-direction: column;
    width: 100%;
   
    margin: 0 auto;
    padding: 0 15px;
  } 

footer{
 margin-top: 20px;  padding: 10px;  height: 25px; background:  #E6E6FA; 
}

.content{ 
   order: 2;
   background-color: #FFF5EE;
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  width: 960px;
}
.links {
  display: flex;
  gap: 5px;
  list-style-type: none;
  flex-direction: column;
  padding-left: 0;
}
.form {
  background-color: #FFF5EE; }
/* nav {
  display: flex;
    flex-direction: column;
    text-align: left;
  background-color: #eefff6; padding:10px;  margin: 10px; text-align: right;
} */
table {
  text-align: center;
  order: 1;
}
* {
  box-sizing: border-box;
}
h1 {
  margin-left: 20px;
}
.table {
 background-color: #E6E6FA ;
}
body {  margin: 0; background-color: #FFE4E1 ; }
@media screen and (min-width: 768px) {
  header, .contain {
    flex-direction: row;
    justify-content: space-between;
  }
  .links {
    flex-direction: row;
    margin-top: 0;
}

}
